.container-fluid{
    width: 100%;
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}

.carousel-indicators{
    margin-bottom: 0;
    bottom: 0;
    transform: rotate(90deg);
    left: 0;
    top: 0;
    margin-left: -354px;
    text-align: left;
    margin-top: 1,3em;
    
}
.carousel-indicators li{
    background-color: green;
    border: green;
    
}

.carousel-indicators .active{
    background-color: rgb(27, 218, 43);
}

